/* font */
@font-face {
  font-family: "hnt";
  font-style: normal;
  font-weight: 200;
  src:url(./../assets/font/hnt/hnt-light.otf) format("opentype");
}

@font-face {
  font-family: "hnt";
  font-style: normal;
  font-weight: 400;
  src:url(./../assets/font/hnt/hnt-regular.otf) format("opentype");
}
@font-face {
  font-family: "hnt";
  font-style: normal;
  font-weight: 500;
  src:url(./../assets/font/hnt/hnt-bold.otf) format("opentype");
}
@font-face {
  font-family: "hnt";
  font-style: normal;
  font-weight: 700;
  src:url(./../assets/font/hnt/hnt-black.otf) format("opentype");
}

.slides, .slides p {
  font-family: 'hnt', sans-serif;
  font-weight: 200;
}

.tag {
  font-size: 10px;
  font-weight: 500;
  opacity: 0.25;
}

.showlink a {
  text-decoration: underline;
  text-decoration-color: #bbb;
  /* border-bottom: 1px solid #bbb; */
}

.linkdate {
	font-size: 12px;
	line-height: 8px!important;
}

/* bullet point lists */
.bullet li {
	margin-left: 20px; 
	list-style: square;
}

.bullet.medium li {
  font-size: 18px;
  line-height: 1.36;
  margin-bottom: 4px;
}

.bullet.small li {
  font-size: 16px;
  line-height: 1.36;
  margin-bottom: 2px;
}

/* hide logo in menu bar on first slide / home page */
.firstSlide .logo-menu {
  display: none!important
}

/* main menu: smaller, not bold */
.menu li a{
 font-size: 10px!important;
 font-weight: 500!important;
}


/* homepage: video background / drawing */
#homepageVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}


/* homepage: background with fa:k+ Logo */
.homepage-background {
  background-image:url(./../assets/img/homepage-mobile.png)
}
@media (min-width: 900px) {
  .homepage-background {
    background-image:url(./../assets/img/homepage.png)
  }
}